@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Press+Start+2P&display=swap');

* {
    font-family: 'Cormorant Garamond', serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
}


