@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Press+Start+2P&display=swap');

* {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
}

form * {
    display:block;
    padding-left: 25%
}

a:visited{
    color:black;
}

h1 {
    font-size: 4.5rem;
}

h1, h2, h3, h4, p, a {
    padding-left: 25%;
}

h2, a {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    max-width: 50%;
}

textarea {
    width: 300px
    height:150px
}
@media screen and (max-width:800px) {
    h1, h2, h3, h4, p, a {
        padding-left: 5%;
    }
    p {
        max-width: 100%;
        padding-right: 5%;
    }
}

